<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs')%>
    <section id="banner">
      <div class="container mb-3">
        <div class="row">
          <div class="col-md-8">
            <h4><%=bannerrecord.title%></h4>
            <p><%=bannerrecord.desc%> <br /></p>
            <a href="/banner"
              ><button class="btn btn-success">More Details</button></a
            >
          </div>
          <div class="col-md-4">
            <img
              src="/upload/<%=bannerrecord.img%>"
              class="img-fluid d-block mx-auto"
              alt=""
              id="bannerimg"
            />
          </div>
        </div>
      </div>
      <img src="media/border1.png" />
    </section>
    <section id="services">
      <div class="container pb-5">
        <div class="row">
          <h2 class="text-center">SERVICES</h2>
          <% servicesrecord.forEach((result)=>{%>
          <div class="col-md-3">
            <img src="/upload/<%=result.img%>" />
            <h4><%=result.title%></h4>
            <p><%=result.desc%></p>
            <a href="/servicedetail/<%=result.id%>"
              ><button class="btn btn-success">More Details</button></a
            >
          </div>
          <%})%>
        </div>
      </div>
    </section>
    <section id="testi">
      <div class="container">
        <div class="row">
          <H2>Testimonials</H2>
          <div class="col-md-3">
            <img src="media/building.png" />
            <p>Shivendu Vashistha</p>
            <p>
              <span><i class="bi bi-quote"></i></span> Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Esse blanditiis fuga doloribus
              in magni similique sed, iste inventore tempora veniam porro
              laborum dignissimos delectus, veritatis vero. Quaerat soluta autem
              magnam mollitia voluptate tempora doloribus minima quia iusto eos
              esse necessitatibus laborum tempore cupiditate corporis aut
              dolorum, perspiciatis iste possimus? Corporis?<span
                ><i class="bi bi-quote"></i
              ></span>
            </p>
            <p>UPGRAD PVT LTD</p>
          </div>
          <div class="col-md-3">
            <img src="media/building.png" />
            <p>Shivendu Vashistha</p>
            <p>
              <span><i class="bi bi-quote"></i></span> Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Esse blanditiis fuga doloribus
              in magni similique sed, iste inventore tempora veniam porro
              laborum dignissimos delectus, veritatis vero. Quaerat soluta autem
              magnam mollitia voluptate tempora doloribus minima quia iusto eos
              esse necessitatibus laborum tempore cupiditate corporis aut
              dolorum, perspiciatis iste possimus? Corporis?<span
                ><i class="bi bi-quote"></i
              ></span>
            </p>
            <p>UPGRAD PVT LTD</p>
          </div>
          <div class="col-md-3">
            <img src="media/building.png" />
            <p>Shivendu Vashistha</p>
            <p>
              <span><i class="bi bi-quote"></i></span> Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Esse blanditiis fuga doloribus
              in magni similique sed, iste inventore tempora veniam porro
              laborum dignissimos delectus, veritatis vero. Quaerat soluta autem
              magnam mollitia voluptate tempora doloribus minima quia iusto eos
              esse necessitatibus laborum tempore cupiditate corporis aut
              dolorum, perspiciatis iste possimus? Corporis?<span
                ><i class="bi bi-quote"></i
              ></span>
            </p>
            <p>UPGRAD PVT LTD</p>
          </div>
          <div class="col-md-3">
            <img src="media/building.png" />
            <p>Shivendu Vashistha</p>
            <p>
              <span><i class="bi bi-quote"></i></span> Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Esse blanditiis fuga doloribus
              in magni similique sed, iste inventore tempora veniam porro
              laborum dignissimos delectus, veritatis vero. Quaerat soluta autem
              magnam mollitia voluptate tempora doloribus minima quia iusto eos
              esse necessitatibus laborum tempore cupiditate corporis aut
              dolorum, perspiciatis iste possimus? Corporis?<span
                ><i class="bi bi-quote"></i
              ></span>
            </p>
            <p>UPGRAD PVT LTD</p>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer.ejs')%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
