<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <%- include('../../partials/admin/header.ejs') %>

    <section id="mid">
      <div class="container">
        <div class="row">
          <%- include('../../partials/admin/left.ejs') %>
          <div class="col-md-9">
            <h2 class="text-center text-primary">Banner Management</h2>
            <table class="table table-hover">
              <tr>
                <th>Banner Title</th>
                <th>Banner Description</th>
                <th>Banner Long Description</th>
                <th>Banner Image</th>
                <th>Update Banner</th>
              </tr>
              <tr>
                <td><%=record.title%></td>
                <td><%=record.desc%></td>
                <td><%=record.ldesc%></td>
                <td>
                  <img
                    style="width: 100px"
                    src="/upload/<%=record.img%>"
                    alt="Image of mountain"
                  />
                </td>
                <td>
                  <a href="/admin/bannerupdate/<%=record.id%>"
                    ><i class="bi bi-pencil-fill"></i
                  ></a>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../partials/admin/footer.ejs') %>
  </body>
</html>
