<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <%- include('../../partials/admin/header.ejs') %>

    <section id="mid">
      <div class="container">
        <div class="row">
          <%- include('../../partials/admin/left.ejs') %>
          <div class="col-md-9">
            <h2>Query Management</h2>
            <form action="/admin/querysearch" method="post">
              <label for="">Select Status</label>
              <select name="searchvalue" id="" class="form-select">
                <option value="read">Read</option>
                <option value="unread">Unread</option>
              </select>
              <button
                class="btn btn-danger form-control mt-2 mb-2"
                type="submit"
              >
                Search
              </button>
            </form>
            <table class="table table-hover">
              <tr>
                <th>S.No</th>
                <th>Email</th>
                <th>Query</th>
                <th>Reply</th>
              </tr>
              <%record.forEach((result,key)=>{%>
              <tr>
                <td><%=key+1%></td>
                <td><%=result.email%></td>
                <td><%=result.query%></td>
                <%if(result.status=='unread'){%>
                <td>
                  <a href="/admin/queryform/<%=result.id%>"
                    ><button><%=result.status%></button></a
                  >
                </td>
                <%}else{%>
                <td>
                  <a href="/admin/queryform/<%=result.id%>"
                    ><button disabled><%=result.status%></button></a
                  >
                </td>
                <%}%>
              </tr>
              <%})%> <%if(!record.length){%>
              <tr>
                <td colspan="4" class="text-center">
                  <h2>No Record Found</h2>
                </td>
              </tr>
              <%}%>
            </table>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../partials/admin/footer.ejs') %>
  </body>
</html>
