<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <%- include('../../partials/admin/header.ejs') %>

    <section id="mid">
      <div class="container">
        <div class="row">
          <%- include('../../partials/admin/left.ejs') %>
          <div class="col-md-9">
            <h2>Service Add Here</h2>
            <form
              action="/admin/servicerecords"
              method="post"
              enctype="multipart/form-data"
            >
              <label for="">Service Title</label>
              <input type="text" name="stitle" id="" class="form-control" />
              <label for="">Service Description</label>
              <input type="text" name="sdesc" id="" class="form-control" />
              <label for="">Service Long Description</label>
              <textarea name="sldesc" id="" class="form-control"></textarea>
              <label for="">Service Image</label>
              <input
                type="file"
                name="img"
                id=""
                class="form-control"
                required
              />

              <button
                type="submit"
                class="form-control btn btn-success mt-2 mb-2"
              >
                Service Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../partials/admin/footer.ejs') %>
  </body>
</html>
