<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <%- include('../../partials/admin/header.ejs') %>

    <section id="mid">
      <div class="container">
        <div class="row">
          <%- include('../../partials/admin/left.ejs') %>
          <div class="col-md-9">
            <h2 class="text-center text-primary">Service Management</h2>
            <table class="table table-hover">
              <tr>
                <th>Total:<%= totalServices%></th>
                <th>Publish:<%= totalPublish%></th>
                <th>Unpublish:<%= totalUnpublish%></th>
              </tr>
            </table>
            <a href="/admin/serviceadd"
              ><button class="btn btn-danger form-control">
                Add Service Here
              </button></a
            >

            <table class="table table-hover">
              <tr>
                <th>S. No.</th>
                <th>Img</th>
                <th>Title</th>
                <th>Description</th>
                <th>Long Description</th>
                <th>Posted Date</th>
                <th>Service Status</th>
                <th>Service Delete</th>
              </tr>
              <%record.forEach((result,yy)=> {%>
              <tr>
                <td><%=yy+1%></td>
                <td>
                  <img
                    style="width: 100px"
                    src="/upload/<%=result.img%>"
                    alt=""
                  />
                </td>
                <td><%=result.title%></td>
                <td><%=result.desc%></td>
                <td><%=result.ldesc%></td>
                <td><%=result.postedDate%></td>
                <%if(result.status=='publish'){%>
                <td>
                  <a href="/admin/serviceupdate/<%=result.id%>"
                    ><button class="btn btn-success">
                      <%=result.status%>
                    </button></a
                  >
                </td>
                <%}else{%>
                <td>
                  <a href="/admin/serviceupdate/<%=result.id%>"
                    ><button class="btn btn-danger">
                      <%=result.status%>
                    </button></a
                  >
                </td>
                <%}%>
                <td>
                  <a href="/admin/servicedelete/<%=result.id%>"
                    ><button>Delete</button></a
                  >
                </td>
              </tr>
              <%})%> <%if(!record.length){%>
              <tr>
                <td colspan="7">
                  <h2 class="text-center">No Record Found</h2>
                </td>
              </tr>
              <%}%>
            </table>
          </div>
        </div>
      </div>
    </section>
    <%- include('../../partials/admin/footer.ejs') %>
  </body>
</html>
